# docker-compose.yml
services:
  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  gateway:
    build:
      context: ..
      dockerfile: ./src/Gateway.Api/Dockerfile
    ports:
      - "7000:7000"
    depends_on:
      postgres:
        condition: service_healthy
      games-api:
        condition: service_started
      identity-api:
        condition: service_started
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:7000
      - ReverseProxy__Clusters__games-cluster__Destinations__games-api__Address=http://games-api:7001
      - ReverseProxy__Clusters__identity-cluster__Destinations__identity-api__Address=http://identity-api:7002

  games-api:
    build:
      context: ..
      dockerfile: ./src/Games.Api/DOCKERFILE
    ports:
      - "7001:7001"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:7001
      - ConnectionStrings__GamesDb=Host=postgres;Database=GamesDb;Username=postgres;Password=postgres
    
  identity-api:
    build:
      context: ..
      dockerfile: ./src/Identity.Api/Dockerfile
    ports:
      - "7002:7002"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:7002
      - ConnectionStrings__Identity=Host=postgres;Database=Identity;Username=postgres;Password=postgres

volumes:
  postgres_data: